/* box-sizing 규칙 명시 */
* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 폰트 크기 설정 및 팽창 방지 */
html {
    font-size: 62.5%;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* 핵심 body 기본값 설정 */
body {
    font-size: 1.6rem;
    line-height: 1.5;
}

/* 기본 여백 제거 */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

/* 목록 스타일 초기화 */
ul,
ol {
    list-style: none;
}

/* 제목 요소와 상호작용하는 요소 line-height */
h1 {
    font-size: 3.2rem; /* 32px */
    line-height: 1.2;
}

h2 {
    font-size: 2.4rem; /* 24px */
    line-height: 1.3;
}

h3 {
    font-size: 2rem; /* 20px */
    line-height: 1.4;
}

h4 {
    font-size: 1.6rem; /* 16px */
    line-height: 1.5;
}


/* 링크 초기화 */
a {
    text-decoration: none;
    color: #080808;
}
a:hover {
    text-decoration: none;
}

/* 폰트 스타일 초기화 */
body,
input,
textarea,
select,
button,
table {
    font-family: inherit;
}
em,
address {
    font-style: normal;
}

/* 폰트 상속 */
input,
button,
textarea,
select {
    font: inherit;
}

/* 버튼 초기화 */
button {
    border: 0;
    cursor: pointer;
}

/* 반응형 이미지 */
img,
video {
    width: 100%;
}
img {
    vertical-align: top;
    border: 0; /* ie10 */
}

/* 테이블 스타일 초기화 */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

/* iframe 스타일 초기화 */
iframe {
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
}
